.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
bootstrap/cache/*.php
public/hot
public/storage
storage/app/public
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
tests
phpunit.xml
phpstan.neon
pint.json
*.md
!README.md
